extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Acier
            p L'acier est un matériau populaire pour les meubles modernes et industriels. Il est apprécié pour sa solidité, sa durabilité et son aspect épuré. L'acier peut être utilisé pour fabriquer des structures de meubles solides, comme des pieds de table, des étagères et des cadres de chaises, offrant une esthétique industrielle chic.