extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Aluminium
            p L'aluminium est un métal léger mais robuste, souvent utilisé dans la fabrication de meubles contemporains. Il ne rouille pas et est facile à entretenir, ce qui le rend idéal pour une utilisation en extérieur ainsi qu'en intérieur. Les meubles en aluminium ont une allure moderne et élégante, avec une finition lisse et brillante.