extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Chêne
            p Le chêne est l'un des bois les plus populaires pour la fabrication de meubles en raison de sa robustesse, de sa durabilité et de sa beauté naturelle. Il présente un grain prononcé et une texture riche qui ajoutent du caractère à n'importe quel meuble. Le chêne peut être teinté dans une variété de teintes, du clair au foncé, pour s'adapter à différents styles de décoration.

