extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Frêne
            p Le frêne est un bois dur et flexible, souvent utilisé pour fabriquer des meubles en raison de sa résistance et de sa durabilité. Il est également apprécié pour son grain droit et sa couleur claire, qui peut varier du blanc au brun pâle. Les meubles en frêne sont non seulement robustes mais aussi esthétiques, avec une finition élégante.