extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Noyer
            p Le noyer est un bois de luxe, connu pour sa couleur riche et sombre et son grain droit ou légèrement ondulé. Il est souvent utilisé dans la fabrication de meubles haut de gamme en raison de son apparence élégante et de sa robustesse. Les meubles en noyer ajoutent une touche de sophistication et d'élégance à n'importe quelle pièce.