extends ../layouts/guest_layout

block content
    .container.text-center 
        .row 
            h1 Plastique
            p Le plastique est un matériau polyvalent utilisé pour fabriquer une variété de meubles. Il est léger, durable, et peut être moulé en diverses formes et couleurs. Les meubles en plastique sont souvent utilisés pour les espaces extérieurs ou pour des pièces nécessitant des solutions légères et résistantes à l'humidité. Ils sont également faciles à nettoyer et à entretenir.